

*{
    margin: 0;
    padding:0;
}
html,body{
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    

    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 10px;
   
   


}


a{
    text-decoration: none;
    margin: 6px;
    color: black;
    
}







.left-side{
    display: flex;
    align-items: center;
}
.right-side{
    display: flex;
    align-items: center;
    

}

.header-img{
    display: flex;
    align-items: center;
    margin: 5px;
    
}
.img-border{
    border-radius: 50%;
    background-color: grey;
}


.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
   height: 100%;
    
   
    
   

}

.logo{
    width: 280px;
    margin: 30px;
    

   
    
    
}

.logo-img{
    width: 100%;
    height: auto;
    margin-top: 10px;
}


.glass{
    display: flex;
    align-items: center;
}

.magnifying-glass{
    width: 100%;
    height: auto;
}
.textbox{
   width: 450px;
   border-style: none;
   background-color:#fff;
   display: flex;
   width: 94%;
   height: 20px;
   margin: auto;
   margin-right: 4px;
   outline: none;
 


 
}



.search{
    
    width: 80vmin;
    
    height: 44px;
    display: flex;
    justify-content: flex-start;
    border-style: solid ;
    border-color: #dfe1e5;
    border-width: 1px;
    border-radius: 25px;
    margin-bottom: 10px;
    
}

.search:hover{
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

a:hover{
    text-decoration: underline;
}

.img-border:hover{
    color: grey;
}
.submit:hover{
    border-style: solid;
    border-width: 1px;
    border-color:grey;
}
.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
    margin-bottom: 10px;
   
    
    
}

.submit{
    width: 127px;
    height: 36px;
    margin: 4px;
    border-style: none;
    background-color: #ebecec;
   
    -moz-appearance: none;
-webkit-appearance: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
 
   
}



.top-section{
    display: flex;
    align-items: flex-end;
    
    padding: 15px 5px;
    border-bottom: 1px solid rgb(153, 151, 151);
    
    background-color: #dadce0;
   
   

}
.bottom-section{
    width: 100%;
    margin: 0;
    display: flex;
    background-color: #dadce0;
    justify-content: space-between;
    padding-top: 15px;
    
}


.fleft-side{
    display: flex;
    align-items: center;
    
}



.center{
    display: flex;
    align-items: center;
    margin-right: 5px;
    
  
  
    

}

input{
    font-size: 16px;
}
.leaf{
    margin-right: 7px;
    margin-top: 3px;
    height: 15px;
}

.fright-side{
    display: flex;
    align-items: center;
}




@media (max-width: 630px){
    .search{
        width: 95vw;
    }

    .logo{
        width: 280px;
    }

    .top-section{
        flex-direction: column;
        align-items: center;
    }
    .bottom-section{
        flex-direction: column;
        align-items: center;
    }

    .center{
        order: 1;
        padding: 10px;
    }
    .fleft-side{
        order: 2;
        padding: 10px;
    }

    .fright-side{
        order: 3;
        padding: 10px;
    }

}


@media (max-height: 630px){
    .search{
        width: 95vw;
    }

    .logo{
        width: 280px;
    }

    .top-section{
        flex-direction: column;
        align-items: center;
    }
    .bottom-section{
        flex-direction: column;
        align-items: center;
    }

    .center{
        order: 1;
        padding: 10px;
    }
    .fleft-side{
        order: 2;
        padding: 10px;
    }

    .fright-side{
        order: 3;
        padding: 10px;
    }

}


