

*{
    margin: 0;
    padding:0;
}
html,body{
    font-size: 18px;
    font-family: arial,sans-serif;
    color: #222;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    

    
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px;
   
   


}


a{
    text-decoration: none;
    margin: 6px;
    color: black;
    
}







.left-side{
    display: flex;
    align-items: center;
}
.right-side{
    display: flex;
    align-items: center;
    

}

.header-img{
    display: flex;
    align-items: center;
    margin: 5px;
}
.img-border{
    border-radius: 50%;
}


.middle{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-style: solid;
    border-color: chocolate;
   
   
    
   

}

.logo{
    width: 390px;
    border-style: solid;
    border-color: crimson;
    margin: auto;
    padding-top: 20px;
    margin-top: 30px;

}

.logo-img{
    width: 100%;
    height: auto;
}


.glass{
    border-style: solid;
    border-color: blue;
    display: flex;
    align-items: center;
}
.textbox{
   width: 450px;
   border-style: none;
   background-color:#fff;
   display: flex;
   align-items: center;
   height: 20px;
   margin: auto;


 
}


.search{
    
    width: 85vmin;
    
    height: 44px;
    display: flex;
    justify-content: flex-start;
    border-style: solid;
    border-color: black;
    border-radius: 25px;
    margin-top: 30px;
}

.buttons{
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
    border-style: solid;
    border-color: brown;
    
}

.submit{
    width: 127px;
    height: 36px;
    margin: 4px;
   
    -moz-appearance: none;
-webkit-appearance: none;
}

footer{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 100%;
    width: 100%;
    background-color: greenyellow;
   
}



.top-section{
    display: flex;
    align-items: flex-end;
    padding: 15px 5px;
    border-bottom: 1px solid rgb(153, 151, 151);
    
    background-color: #dadce0;
   
   

}
.bottom-section{
    margin: 0;
    display: flex;
    background-color: #dadce0;
    justify-content: space-between;
    padding-top: 15px;
    
}


.fleft-side{
    display: flex;
    align-items: center;
}



.center{
    display: flex;
    align-items: center;
    margin-right: 5px;
  
  
    

}

.leaf{
    margin-right: 7px;
    margin-top: 3px;
    height: 15px;
}

.fright-side{
    display: flex;
    align-items: center;
}


@media screen {
    
}